/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}

a {
  color: #1acc8d;
}

a:hover {
  color: #2be4a2;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #cfe9d4;
  color: #262f34;
  text-shadow: none !important;
}

::-moz-selection {
  background-color: #cfe9d4;
  color: #262f34;
  text-shadow: none !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1acc8d;
  border-top-color: #d2f9eb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Social links
--------------------------------------------------------------*/
.social-links a {
  font-size: 25px;
  display: inline-block !important;
  color: #fff;
  line-height: 1;
  padding: 6px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: #1acc8d;
  color: #fff !important;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-scrolled {
  background-color: #222222;
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header .logo img {
  padding: 0;
  margin: 0 0.3em 0 0;
  max-height: 40px;
}

@media (max-width: 990px) {
  #header {
    height: 64px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: 'Poppins', sans-serif;
}

.section-title h2::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background-color: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  padding: 100px 0 20px 0;
  background: url('../img/backgrounds/hero.jpg');
  background-size: cover;
  background-position: 50%;
}

#hero:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hero .container {
  text-align: center;
}

#hero h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  padding: 0;
  margin: 0;
}

#hero h2 {
  color: #cfcfce;
  font-size: 18px;
  margin: -5px 0 20px 0;
}

#hero .hero-img img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 200px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }
  #hero .hero-img img {
    max-width: 50%;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Technical skills
--------------------------------------------------------------*/
#technical-skills {
  padding: 40px 0 20px 0;
}

#technical-skills .content + .content {
  margin-top: 50px;
}

@media (max-width: 991px) {
  #technical-skills .content + .content {
    margin-top: 10px;
  }
}

#technical-skills .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

#technical-skills .icon-box {
  margin-top: 40px;
}

#technical-skills .icon-box:first-child {
  margin-top: 0;
}

#technical-skills .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #1acc8d;
  border-radius: 50px;
  transition: 0.5s;
}

#technical-skills .icon-box .icon i {
  color: #1acc8d;
  font-size: 32px;
}

#technical-skills .icon-box:hover .icon {
  background-color: #1acc8d;
  border-color: #1acc8d;
}

#technical-skills .icon-box:hover .icon i {
  color: #fff;
}

#technical-skills .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

#technical-skills .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}
